CLIENT_GATEWAY_PORT=3000
ORDERS_MS_DATABASE_URL=postgresql://user:password@orders-db:5432/orders?schema=public
# https://dashboard.stripe.com/acct_1ShuzNAPt6OEnb9d/test/apikeys
STRIPE_SECRET=sk_test_
STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel
# https://dashboard.stripe.com/acct_1ShuzNAPt6OEnb9d/test/workbench/webhooks/we_1Si01KAPt6OEnb9dMVvoyGpA
STRIPE_ENDPOINT_SECRET=whsec_